

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>profile</title>
</head>
<body>
    <%- include("Partials/header") %>
    <main class="appView profile">
    <div class="userProfile">
            <div class="imgContainer">
                <img src="/characters/<%= locals.user.favorite %>.jpg" alt="profile">
            </div>
            <p><%= locals.user.username %></p>
            <% if (locals.user.isadmin) {%>
                <p>Admin</p>
            <% } %>
            <% if (!locals.user.ismember) { %>
                <% if (locals.fromProfile) { %>
                    <a href="/profile/upgrade">Become a Member</a>
                <%} else { %>
                    <p>This User is not a member</p>
                <% } %>
            <%} %>
            <% if (locals.currentUser.isadmin || locals.fromProfile) { %>
                <div class="accountOptions">
                    <a href="/profile/deleteUser/<%= locals.user.user_id %>,<%= locals.fromUser %>">Delete Account</a>
                <% if (locals.fromProfile) { %>
                    <a href="/profile/editUser">Edit Account</a>
                <% } %>
                </div>
            <% } %>
    </div>
    <div class="posts">
        <h2>Latest Posts</h2>
        <%- include("Partials/posts") %>
    </div>
    </main>
    <%- include("Partials/footer") %>
    <script>
        document.querySelectorAll('.likebtn').forEach((btn,index) => {
        btn.addEventListener('click', async () => {
        const messageId = btn.getAttribute('data-msgid');
        const likeCount = document.querySelectorAll(".likeCount")[index];
        const numberOfLikes = Number(likeCount.textContent);
        try {
            const res = await fetch('/api/like', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ messageId, isLike : !btn.classList.contains("liked") ? true : false })
            });

            const data = await res.json();
            if (data.success) {
            // Update UI, e.g., increment like count, change button style, etc.
            if (btn.classList.contains("liked")){
                likeCount.textContent = numberOfLikes - 1;
                btn.classList.remove("liked");
            }
            else{
                likeCount.textContent = numberOfLikes + 1;
                btn.classList.add("liked");
            }
            }
        } catch (err) {
            console.error('Error:', err);

        }
        });
    });
    </script>
    <script src="/sound.js"></script>
</body>
</html>